.blurhash {

background-image: linear-gradient(90deg, rgba(76, 65, 50, 255) 25.0%, rgba(109, 122, 119, 255) 25.0% 50.0%, rgba(144, 142, 133, 255) 50.0% 75.0%, rgba(132, 109, 90, 255) 75.0%), linear-gradient(90deg, rgba(85, 78, 74, 255) 25.0%, rgba(127, 135, 133, 255) 25.0% 50.0%, rgba(143, 138, 133, 255) 50.0% 75.0%, rgba(132, 107, 94, 255) 75.0%), linear-gradient(90deg, rgba(75, 65, 68, 255) 25.0%, rgba(120, 123, 121, 255) 25.0% 50.0%, rgba(128, 116, 113, 255) 50.0% 75.0%, rgba(114, 81, 73, 255) 75.0%);
background-position: 0 0, 0 50.0%, 0 100.0%;
background-size: 100% 33.333333333333339;
background-repeat: no-repeat;

}